* {
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
}
.hero>div>p, .hero>div>button, .placeholder {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}
aside>h2{
    font-size: 36px;
    margin: 36px;
}
.ad, button {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
}
.ad-container::first-line{
    font-size: 36px;
    font-weight: bolder;
}
.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
footer {
    font-size: 16px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 0 16px;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
body {
    display: flex;
    flex-direction: column;
}
header>div {
    margin: 16px 10%;
    display: flex;
    justify-content: space-between;
}
.hero {
    margin: 60px 10%;
}
.hero>div:first-child{
    flex: 0 1 50%;
    padding: 16px;
}
.placeholder{
    flex: 0 1 50%;
    min-height: 250px;
    margin-left: 8px;
    background-color: grey;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero>div>button{
    border: none;
}
button {
    padding: 8px 16px;
    border-radius: 10px;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin:0 10% 100px 10%;
}
.container>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 0;
    justify-content: center;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.quote{
    padding: 10% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.quote>b{
    align-self: flex-end;
}
.ad{
    display: flex;
    margin: 5% 10%;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    gap: 15%;
}