* {
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
}
.hero>div>p, .hero>div>button, .placeholder {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: normal;
}
.ad, button {
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
}
.ad{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
footer {
    font-size: 16px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 0 16px;
}
a{
    text-decoration: none;
    color: #f9faf8;
}
body {
    display: flex;
    flex-direction: column;
}
header>div {
    margin: 16px 0;
    display: flex;
    justify-content: space-around;
}
.hero {
    margin: 60px 0;
    justify-content: center;
}
.hero>div:first-child{
    flex: 0 1 500px;
    padding: 16px;
}
.placeholder{
    flex: 0 1 500px;
    min-height: 250px;
    margin-left: 8px;
    background-color: grey;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.hero>div>button{
    border: none;
}
button {
    padding: 8px 16px;
    border-radius: 5%;
}
